*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#app{
    position: relative;
}
#app #navbar{
    background-color: #0E161F !important;
    color:#18D860;
}
#navbar .fa-brands{
    font-size: 30px;
    margin-left: 50px;
}
#app{
    background-color: #1d2d3c !important;
}
#cards{
    background-color: #112030;
}
#cards img{
    max-width: 100%;
}
#contenitore{
    background-color: #1d2d3c !important;
    height: 100vh;
}
#Immagine_Grande {
    width: 100%; /* Imposta una larghezza fissa */
    height: 100%; /* Altezza automatica in base al contenuto */
    background-color: #1d2d3c99;
    position: absolute; /* Imposta la posizione relativa */
    z-index: 10;
    top:0;
    left: 0;
    color: white;
    text-transform: uppercase;
    
}

#Immagine_Grande .row {
    width: 400px;
    position: absolute;
    top: 30%;
    right: 50%;
    
}
#Nome_canzone{
    font-size: 24px;
}